<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.user.dao.UserFollowingMapper">
    <resultMap id="BaseResultMap" type="com.kb.user.pojo.userFollowing.UserFollowing">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="followingId" column="following_id" jdbcType="VARCHAR"/>
        <result property="groupId" column="group_id" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="deleteState" column="delete_state" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,user_id,following_id,group_id,create_time,delete_state
    </sql>
    <insert id="add">
        insert into t_user_following
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId!=null">
                user_id,
            </if>
            <if test="followingId!=null">
                following_id,
            </if>
            <if test="groupId!=null">
                group_id,
            </if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId!=null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="followingId !=null">
                #{followingId,jdbcType=BIGINT},
            </if>
            <if test="groupId !=null">
                #{groupId,jdbcType=BIGINT},
            </if>
            now()
        </trim>
    </insert>
    <update id="delete">
        update t_user_following
        <set>
            delete_state=1
        </set>
        where id= #{id,jdbcType=BIGINT}
    </update>
    <select id="fans" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        t_user_following
        where
        following_id=#{followingId}
        and
        delete_state=0
    </select>
    <select id="list" parameterType="com.kb.user.pojo.userFollowing.UserFollowingParam" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            t_user_following
        where
            user_id=#{userId,jdbcType=BIGINT}
        and
            group_id=#{groupId,jdbcType=BIGINT}
        and
            delete_state=0
        order by
            id
        desc
    </select>
</mapper>