<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.job.dao.CommentMapper">
    <resultMap id="BaseResultMap" type="com.kb.job.pojo.comment.Comment">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="videoId" column="video_id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="replyId" column="reply_id" jdbcType="BIGINT"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleteState" column="delete_state" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,user_id,video_id,content,reply_id,parent_id,create_time,update_time,delete_state
    </sql>
    <select id="getFirstComment" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            t_comment
        where
            video_id=#{videoId,jdbcType=BIGINT}
        and
            parent_id=-1
        and
            delete_state=0
    </select>
    <select id="getSecondComment" parameterType="com.kb.job.pojo.comment.SecondCommentParam" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            t_comment
        where
            video_id=#{videoId,jdbcType=BIGINT}
        and
            parent_id=#{parentId,jdbcType=BIGINT}
        and
            delete_state=0
        order by
            id
        desc
    </select>
    <insert id="add">
        insert into t_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId!=null">
                user_id,
            </if>
            <if test="videoId!=null">
                video_id,
            </if>
            <if test="content !=null and content !=''">
                content,
            </if>
            <if test="replyId!=null">
                reply_id,
            </if>
            <if test="parentId!=null">
                parent_id,
            </if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId!=null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="videoId!=null">
                #{videoId,jdbcType=BIGINT},
            </if>
            <if test="content !=null and content !=''">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="replyId!=null">
                #{replyId,jdbcType=BIGINT},
            </if>
            <if test="parentId!=null">
                #{parentId,jdbcType=BIGINT},
            </if>
            now()
        </trim>
    </insert>
    <update id="update">
        update t_comment
        <set>
            <if test="content !=null and content !=''">
                content=#{content,jdbcType=VARCHAR},
            </if>
            update_time = now()
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="delete">
        update t_comment
        <set>
            delete_state=1
        </set>
        where id= #{id,jdbcType=BIGINT}
    </update>
</mapper>